dist
.env
# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
src/__test__/coverage
coverage/
.jest/


# debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
# vercel
.vercel

